<<<<<<< HEAD
.wrapper_with_padding
  #docs.clearfix
    - unless @docs.blank?    
      - @docs.each do |doc|
        %a{href: (url_for [doc])}
          .doc
            %p.title= doc.title
            %p.date= time_ago_in_words(doc.created_at)
            %p.content= truncate(doc.content, length:80)
    - else
      %h2 Create Doc!
      %p Start Creating Documents and Organising your life!
      %button= link_to "Create Doc", new_doc_path

=======
- @docs.each do |doc|
  %h2= link_to doc.title, doc
  %p= time_ago_in_words(doc.created_at)
  %p= truncate(doc.content, length:80)
  
  = link_to 'Create Doc', new_doc_path
>>>>>>> 07d632642737dfe1c82effdba2e74d731c75ab71
